/* Universidad Mayor colors */
/* These are the same as the Manual Uso de Marca document */
:root {
    --um-background: #FEDA3F;
    --um-text: #3C3C3B;
}


/* Universidad Mayor font */
/* we'll be using a public domain MyriadPro lookalike */
@font-face {
    src: url('../assets/fonts/Vegur-Yg1a.otf');
    font-family: Myriad;
}


/* Header variables */

#header {
    padding: 1rem;
    background-color: var(--um-background);
    color: var(--um-text);
    font-family: Myriad;
}

.page-title {
    font-family: Myriad;
    color: var(--um-text);
    font-size: x-large;
    text-align: center;
    /*margin-top: 3px;*/
}

.um-logo-xs {
    text-align: center;
}

@media (min-width: 768px) {
    .um-logo-md {
        text-align: left;
    }
}

[class*="user-menu"] {
    font-size: large;
}

.user-menu-xs {
    text-align: center;
}

@media (min-width: 768px) {
    .user-menu-md {
        text-align: right;
    }
}

#user-menu-dropdown {
    color: var(--um-text);
    text-decoration: none;
}


/* Ionicons.com icons */

ion-icon {
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
}

/* Sidebar variables */

#sidebar-wrapper {
    min-height: 100vh;
    background-color: #F9F9F9;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .menu-header {
    padding: 1.25rem 1.25rem;
    background-color: #262626;
    color: #F9F9F9;
    font-family: Myriad;
    font-size: larger;
}

#sidebar-wrapper .menu-list {
    width: 15rem;
}

#menu-list-items {
    color: #0056B3;
    text-decoration: none;
}
#menu-list-items:hover {
    background-color: #f0f0f0;
}

#menu-list-items-active {
    background-color: #ebebeb;
    text-decoration: none;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}


@media (min-width: 1px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


/********************************************/


/*card style seccion */

#card_row {
    margin-top: 30px;
    padding-left: 0px;
}

#card_bodyID {
    background-color: #94c998;
}


/******************************************/


/*central overview item*/

#row_overview {
    padding-left: 0px;
}

.skills {
    margin-top: 10px;
}

#titulo_overview {
    text-align: center;
}

/* ******+ */
.crop-img{
    max-height:150px;
    max-width:100%;
  }
  
  .large-img{
    max-width:100%;
  }