/* Universidad Mayor colors */
/* These are the same as the Manual Uso de Marca document */
:root {
    --um-background: #FEDA3F;
    --um-text: #3C3C3B;

}

/* Universidad Mayor font */
/* we'll be using a public domain MyriadPro lookalike */
@font-face {
    src: url('../assets/fonts/Vegur-Yg1a.otf');
    font-family: Myriad;
}


/* Header variables */

#header {
    padding: 1rem;
    background-color: var(--um-background);
    color: var(--um-text);
    font-family: Myriad;
}

.page-title {
    font-family: Myriad;
    color: var(--um-text);
    font-size: x-large;
    text-align: center;
    /*margin-top: 3px;*/
}

.um-logo-xs {
    text-align: center;
}

@media (min-width: 768px) {
    .um-logo-md {
        text-align: left;
    }
}

[class*="user-menu"] {
    font-size: large;
}

.user-menu-xs {
    text-align: center;
}

@media (min-width: 768px) {
    .user-menu-md {
        text-align: right;
    }
}

#user-menu-dropdown {
    color: var(--um-text);
    text-decoration: none;
}


/* Ionicons.com icons */

ion-icon {
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
}

/* Sidebar variables */

#sidebar-wrapper {
    min-height: 100vh;
    background-color: #F9F9F9;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .menu-header {
    padding: 1.25rem 1.25rem;
    background-color: #262626;
    color: #F9F9F9;
    font-family: Myriad;
    font-size: larger;
}

#sidebar-wrapper .menu-list {
    width: 15rem;
}

#menu-list-items {
    color: #0056B3;
    text-decoration: none;
}
#menu-list-items:hover {
    background-color: #f0f0f0;
}

#menu-list-items-active {
    background-color: #ebebeb;
    text-decoration: none;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}


@media (min-width: 1px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


/********************************************/


/*card style seccion */

#card_row {
    margin-top: 30px;
    padding-left: 0px;
}

#card_bodyID {
    background-color: #94c998;
}


/******************************************/


/*central overview item*/

#row_overview {
    padding-left: 0px;
}

.skills {
    margin-top: 10px;
}

#titulo_overview {
    text-align: center;
}

/* ******+ */


  .h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:1px solid lightgray;
   }

/* potencial eliminación */


.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
  }
  
  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
  }
  
  .form-check-input:disabled~.form-check-label {
    color: var(--um-text);
  }
  
  .form-check-label {
    margin-bottom: 0;
  }
  
  .form-check .form-check-sign {
    vertical-align: middle;
    position: relative;
    top: -2px;
    float: left;
    padding-right: 5px;
    display: inline-block;
  }
  
  
  
  .form-check .form-check-sign .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .54);
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
  }
  
  .form-check .form-check-sign .check:before {
    position: absolute;
    content: "";
    transform: rotate(45deg);
    margin-top: -3px;
    margin-left: 7px;
    color: #fff;
  }

  
  .form-check .form-check-input:checked~.form-check-sign .check {
    background: #caab21;
  }
  
  .form-check .form-check-input:checked~.form-check-sign .check:before {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }

  .project-thumbnail{
    width: 95%;
    margin-bottom: 20px;
  }

  .project-document-thumbnail{
    border: 1px solid rgb(197, 197, 197);
    margin-bottom: 5px;
  }

  #edit-button{
      width: 35px;
      height: 30px;
      border: 1px solid rgb(197, 197, 197);

  }
  #edit-button ion-icon{
      vertical-align: -5px;
      color: black;
  }